html,
body {
  margin: 0;
  padding: 0;
}

.nav-banner {
  background-color: #ffffff;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
}
.nav-banner i.info-icon {
  color: #128393;
  font-size: 18px;
}
.nav-banner span.info-text {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}
.nav-banner div.location-text span.info-text {
  color: #128393;
}
.nav-banner div.location-text span.info-text:nth-child(1) {
  font-weight: 800;
}
.nav-banner div.location-text span.info-text:nth-child(2) {
  font-weight: 400;
}
.nav-banner .social-icons-container .social-icon {
  text-decoration: none;
}
.nav-banner .social-icons-container .social-icon i {
  color: #686868;
  font-size: 18px;
}
.nav-banner .header-link {
  color: #128393;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 700;
}

nav.nav-main li.nav-item a.nav-link {
  color: rgb(56, 56, 56);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
nav.nav-main li.nav-item a.nav-link:hover {
  color: #128393;
  font-weight: 900;
}

div#mobile_menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999999;
  padding: 40px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
div#mobile_menu.open {
  left: 0;
}
div#mobile_menu .contact-info {
  margin-bottom: 40px;
}
div#mobile_menu .contact-info i.info-icon {
  color: #128393;
  font-size: 18px;
}
div#mobile_menu .contact-info span.info-text {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}
div#mobile_menu .contact-info div.location-text span.info-text {
  color: #128393;
  font-weight: 800;
}
div#mobile_menu .contact-info div.location-text span.info-text .info-text-light {
  font-weight: 400;
}
div#mobile_menu div.menu h6.menu-title {
  font-weight: 800;
  font-size: 18px;
  color: #000000;
}
div#mobile_menu div.menu ul.menu-container {
  list-style: none;
}
div#mobile_menu div.menu ul.menu-container li.menu-item a.menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5%;
  color: #383838;
}
div#mobile_menu div.menu ul.menu-container li.menu-item a.menu-link:hover {
  font-weight: 900;
  font-size: 18px;
  color: #128393;
}
div#mobile_menu .social-icons-container {
  margin-top: auto;
}
div#mobile_menu .social-icons-container a.social-icon {
  color: #686868;
  font-size: 18px;
  text-decoration: none;
}

footer.footer-container {
  position: relative;
  color: white;
  width: 100%;
  height: 491px;
}
footer.footer-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
footer.footer-container .footer-bg-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
footer .footer-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
footer .social-icon {
  border-color: rgb(224, 224, 224);
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  padding: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}
footer .footer-links ul {
  list-style: none;
}
footer .footer-links li a {
  list-style: none;
  text-decoration: none;
  color: white;
}
footer .footer-icons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 2;
}

@media (max-width: 991.98px) {
  footer .footer-icons {
    bottom: 470px;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  footer.footer-container {
    position: relative;
    color: white;
    width: 100%;
    height: 1071px;
  }
  footer .footer-content {
    position: absolute;
    top: 26%;
    transform: translate(-50%, -50%);
    left: 42%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    flex-direction: column;
  }
}
.hero-section {
  margin-bottom: 30px;
  height: 775px;
  position: relative;
}
.hero-section .main-image-wrapper {
  position: relative;
  height: 100%;
  width: 85%;
}
.hero-section .main-image-wrapper .main-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-section .main-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(89.94deg, rgba(36, 122, 164, 0) 0.06%, #ffffff 99.96%);
}
.hero-section .main-image-wrapper .logo-overlay {
  position: absolute;
  left: 135px;
  top: 47px;
  width: 330px;
  height: 155px;
  z-index: 5;
  object-fit: contain;
}
.hero-section .hero-card {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  width: 535px;
  z-index: 10;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 24px;
  padding: 1.5rem;
}
.hero-section .hero-card .card-content .card-title {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-section .hero-card .card-content .card-description {
  font-size: 20px;
  color: #686868;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 5%;
  margin-bottom: 20px;
}
.hero-section .hero-card .video-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  font-size: 75px;
  align-items: center;
  text-decoration: none;
  color: #1283ae;
}
.hero-section .hero-card .video-icon span {
  font-size: 20px;
  color: #383838;
  font-weight: 800;
}
.hero-section #mobile_menu_btn {
  display: none;
}

@media (max-width: 991.98px) {
  .hero-section {
    height: 485px;
    margin-bottom: 290px;
  }
  .hero-section .main-image-wrapper {
    width: 100%;
  }
  .hero-section .main-image-wrapper .logo-overlay {
    left: 20px;
    top: 20px;
    width: 135px;
    height: 65px;
  }
  .hero-section .main-image-wrapper::after {
    width: 25%;
  }
  .hero-section .hero-card {
    width: 80%;
    left: 50%;
    right: auto;
    padding: 1rem;
    transform: translateX(-50%);
    top: calc(100% - 120px);
  }
  .hero-section .hero-card .card-content .card-title {
    font-size: 24px;
  }
  .hero-section .hero-card .card-content .card-description {
    font-size: 14px;
  }
  .hero-section .hero-card .video-icon {
    font-size: 50px;
  }
  .hero-section .hero-card .video-icon span {
    font-size: 14px;
  }
  .hero-section #mobile_menu_btn {
    background-color: #ffffff;
    box-shadow: 0px 2.7px 16.18px 0px rgba(0, 0, 0, 0.1215686275);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999999;
  }
  .hero-section #mobile_menu_btn:focus {
    outline: none;
  }
}
section.services-section .section-title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}
section.services-section .slider-container .swiper-wrapper .swiper-slide {
  height: 530px;
}
section.services-section .slider-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.text-primary {
  color: rgb(18, 131, 147);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.text-primary,
.text-secondary {
  width: 70%;
  font-weight: 400;
  font-size: 20px;
}

.aboutus-title {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

@media (max-width: 991.98px) {
  .text-primary {
    color: rgb(18, 131, 147);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
  }
  .text-primary,
  .text-secondary {
    width: 70%;
  }
  section .container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  section .container .aboutus-img {
    width: 100% !important;
  }
}
.testimonial-container {
  background-color: rgba(13, 122, 141, 0.2);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px;
}
.testimonial-container .testimonial-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-container .testimonial-info .testimonial-icons {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}
.testimonial-container .testimonial-info .testimonial-icons .stars {
  margin-bottom: 10px;
}
.testimonial-container .testimonial-info .testimonial-icons .quote-text {
  color: rgb(104, 104, 104);
  margin: 10px 0;
}
.testimonial-container .testimonial-info .testimonial-icons .stars-and-text .author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.testimonial-container .testimonial-info .testimonial-icons .stars-and-text .author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial-container .testimonial-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 991.98px) {
  .testimonial-container .testimonial-info h3 {
    text-align: left;
  }
  .testimonial-container .testimonial-info .testimonial-icons {
    display: flex;
    gap: 25px;
    align-items: flex-start;
  }
  .testimonial-container .testimonial-info .testimonial-icons .stars-and-text {
    text-align: left;
  }
  .testimonial-container .testimonial-info .testimonial-icons .stars-and-text .author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
  }
  .author {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 30px;
  }
}
section.partners-section {
  margin: 30px 0;
  padding: 10px;
}
section.partners-section .slider-container .swiper-wrapper .swiper-slide {
  height: 85px;
}
section.partners-section .slider-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cards-section {
  background-image: url("../assets/Rectangle 2467.png");
  background-size: cover;
  color: white;
  padding: 3rem;
}
.cards-section .cards-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.cards-section .cards-container .card {
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
}

@media (max-width: 991.98px) {
  .cards-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-direction: column;
  }
}
#form-container {
  padding: 3rem;
}
#form-container .input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  color: rgb(104, 104, 104);
}
#form-container .input-container button {
  background-color: rgb(18, 131, 147);
  border-radius: 28px;
  border: 1px solid transparent;
  width: 198px;
  height: 56px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
#form-container .form-header .form-subtitle {
  color: rgb(18, 131, 147);
  font-weight: 800;
  font-size: 16px;
}
#form-container .form-header .form-title {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}
#form-container .input-wrapper {
  position: relative;
}
#form-container .input-wrapper input {
  width: 500px;
  height: 86px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 12px;
  padding: 20px;
}
#form-container .input-wrapper input::placeholder {
  color: rgb(104, 104, 104);
}
#form-container .input-wrapper select {
  width: 500px;
  color: rgb(104, 104, 104);
  height: 86px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#form-container .input-wrapper .dropdown-icon {
  color: #128393;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 4%;
}
#form-container .input-wrapper i {
  color: #128393;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 4%;
}
#form-container .input-wrapper:last-of-type i {
  color: #128393;
  position: absolute;
  transform: translateY(-50%);
  top: 20%;
  right: 2%;
}

textarea {
  width: 100%;
  height: 186px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 12px;
  padding: 20px;
}

@media (max-width: 991.98px) {
  #form-container .input-wrapper input {
    width: 100%;
    height: 86px;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 12px;
    padding: 20px;
  }
  #form-container .input-wrapper select {
    width: 257px;
    color: rgb(104, 104, 104);
    height: 86px;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
  }
  #form-container .input-wrapper:last-of-type i {
    color: #128393;
    position: absolute;
    transform: translateY(-50%);
    top: 16%;
    right: 6%;
  }
}

/*# sourceMappingURL=main.css.map */
