html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-banner {
  background-color: rgba(13, 122, 141, 1);
  width: 100%;
  height: 122px;
  padding-top: 40px;
}
.nav-banner .banner-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.banner-info i {
  color: #ffffff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-banner .banner-info .banner-btn {
  color: rgba(18, 131, 147, 1);
  background-color: #ffffff;
  width: 204px;
  height: 56px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .social-icon {
  border-color: rgba(224, 224, 224, 1);
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  padding: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-icon i {
  color: #686868;
}

.main-content .hero-section {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-content .hero-section .main-image {
  object-fit: contain;
  width: 85%;
}
.main-content .hero-section .logo-overlay {
  position: absolute;
  left: 135px;
  top: 47px;
  width: 235px;
  height: 115px;
  z-index: 5;
}
.main-content .hero-section .gradient-overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(36, 122, 164, 0%) 41%,
    rgba(255, 255, 255, 1) 65%
  );
  top: 0;
  left: 20%;
}
.main-content .hero-section .hero-card {
  background-color: #ffffff;
  width: 350px;
  height: 440px;
  z-index: 10;
  position: absolute;
  right: 34px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  padding: 1.5rem;
}
.main-content .hero-section .hero-card .video-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  width: 80%;
  align-items: center;
}
.text-primary {
  color: rgba(18, 131, 147, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
}
.text-primary,
.text-secondary {
  width: 70%;
}
.testimonial-container {
  background-color: rgba(13, 122, 141, 0.2);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px;
}

.testimonial-container .testimonial-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-container .testimonial-info .testimonial-icons {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.testimonial-container .testimonial-info .testimonial-icons .stars {
  margin-bottom: 10px;
}

.testimonial-container .testimonial-info .testimonial-icons .quote-text {
  color: rgba(104, 104, 104, 1);
  margin: 10px 0;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.testimonial-container
  .testimonial-info
  .testimonial-icons
  .stars-and-text
  .author
  img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* @media (max-width: 768px) {
  .testimonial-container {
    flex-direction: column;
    height: auto;
  }

  .testimonial-info {
    text-align: center;
    align-items: center;
  }

  .testimonial-icons {
    flex-direction: row;
    align-items: center;
  }
} */

.cards-section {
  background-image: url("../assets/Rectangle\ 2467.png");
  background-size: cover;
  color: white;
  padding: 3rem;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.cards-container .card {
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
}
#form-container {
  padding: 3rem;
}
#form-container .input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  color: rgba(104, 104, 104, 1);
}
#form-container .form-header .form-subtitle {
  color: rgba(18, 131, 147, 1);
  font-weight: 800;
  font-size: 16px;
}
#form-container .form-header .form-title {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}
#form-container .input-wrapper {
  position: relative;
}
#form-container .input-wrapper input {
  width: 500px;
  height: 86px;
  border: 1px solid rgba(198, 198, 198, 1);
  border-radius: 12px;
  padding: 20px;
}
#form-container .input-wrapper input::placeholder {
  color: rgba(104, 104, 104, 1);
}

#form-container .input-wrapper select {
  width: 500px;
  color: rgba(104, 104, 104, 1);
  height: 86px;
  border: 1px solid rgba(198, 198, 198, 1);
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#form-container .input-wrapper .dropdown-icon {
  color: #128393;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 4%;
}

#form-container .input-wrapper i {
  color: #128393;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 4%;
}
textarea {
  width: 100%;
  height: 186px;
  border: 1px solid rgba(198, 198, 198, 1);
  border-radius: 12px;
  padding: 20px;
}
#form-container .input-wrapper:last-of-type i {
  color: #128393;
  position: absolute;
  transform: translateY(-50%);
  top: 20%;
  right: 2%;
}
.input-container button {
  background-color: rgba(18, 131, 147, 1);
  border-radius: 28px;
  border: 1px solid transparent;
  width: 198px;
  height: 56px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
footer.footer-container {
  position: relative;
  color: white;
  width: 100%;
  height: 491px;
}
footer.footer-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
footer.footer-container .footer-bg-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
footer .footer-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

footer .social-icon {
  border-color: rgba(224, 224, 224, 1);
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  padding: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}
footer .footer-links ul {
  list-style: none;
}
footer .footer-links li a {
  list-style: none;
  text-decoration: none;
  color: white;
}
footer .footer-icons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 2;
}
@media (max-width: 576px) {
  .main-content {
    margin-bottom: 80%;
  }
  .main-content .hero-section {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-content .hero-section .main-image {
    object-fit: contain;
    width: 100%;
  }
  .main-content .hero-section .logo-overlay {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 137px;
    height: 64px;
    z-index: 5;
  }
  .main-content .hero-section .gradient-overlay {
    width: 121%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: linear-gradient(
      to right,
      rgba(36, 122, 164, 0%) 37%,
      rgba(255, 255, 255, 1) 71% 71%
    );
    top: 0;
    left: 20%;
  }
  .main-content .hero-section .hero-card {
    background-color: #ffffff;
    width: 80%;
    height: 392px;
    z-index: 10;
    position: absolute;
    right: 10%;
    padding: 1rem;
    transform: translateY(12%);
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
  }
  .main-content .hero-section .hero-card .video-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-start;
    width: 80%;
    align-items: center;
  }
  .text-primary {
    color: rgba(18, 131, 147, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
  }
  .text-primary,
  .text-secondary {
    width: 70%;
  }
  section .container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  section .container .aboutus-img {
    width: 100% !important;
  }
  .testimonial-container .testimonial-info h3 {
    text-align: left;
  }
  .testimonial-container .testimonial-info .testimonial-icons {
    display: flex;
    gap: 25px;
    align-items: flex-start;
  }
  .testimonial-container .testimonial-info .testimonial-icons .stars-and-text {
    text-align: left;
  }
  .author {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 30px;
  }
  .testimonial-container
    .testimonial-info
    .testimonial-icons
    .stars-and-text
    .author
    img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
  }
  .cards-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-direction: column;
  }
  #form-container .input-wrapper input {
    width: 100%;
    height: 86px;
    border: 1px solid rgba(198, 198, 198, 1);
    border-radius: 12px;
    padding: 20px;
  }
  #form-container .input-wrapper:last-of-type i {
    color: #128393;
    position: absolute;
    transform: translateY(-50%);
    top: 16%;
    right: 6%;
  }
  #form-container .input-wrapper select {
    width: 257px;
    color: rgba(104, 104, 104, 1);
    height: 86px;
    border: 1px solid rgba(198, 198, 198, 1);
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
  }

  footer .footer-icons {
    bottom: 470px;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  footer.footer-container {
    position: relative;
    color: white;
    width: 100%;
    height: 1071px;
  }
  footer .footer-content {
    position: absolute;
    top: 26%;
    transform: translate(-50%, -50%);
    left: 42%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    flex-direction: column;
  }
}
