footer {
  &.footer-container {
    position: relative;
    color: white;
    width: 100%;
    height: 491px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }

    .footer-bg-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  .footer-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
  }

  .social-icon {
    border-color: rgba(224, 224, 224, 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    padding: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
  }

  .footer-links {
    ul {
      list-style: none;
    }

    li {
      a {
        list-style: none;
        text-decoration: none;
        color: white;
      }
    }
  }

  .footer-icons {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 2;
  }
}

@include media-breakpoint-md {
  footer {
    .footer-icons {
      bottom: 470px;
      z-index: 2;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }

    &.footer-container {
      position: relative;
      color: white;
      width: 100%;
      height: 1071px;
    }

    .footer-content {
      position: absolute;
      top: 26%;
      transform: translate(-50%, -50%);
      left: 42%;
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      z-index: 1;
      flex-direction: column;
    }
  }
}
