nav.nav-main {
  li.nav-item {
    a.nav-link {
      color: rgba(56, 56, 56, 1);
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #128393;
        font-weight: 900;
      }
    }
  }
}
