div#mobile_menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999999;
  padding: 40px;
  transition: all 0.3s ease-in-out;

  &.open {
    left: 0;
  }

  .contact-info {
    margin-bottom: 40px;
    i.info-icon {
      color: #128393;
      font-size: 18px;
    }

    span.info-text {
      font-size: 14px;
      font-weight: 400;
      color: #686868;
    }

    div.location-text {
      span.info-text {
        color: #128393;
        font-weight: 800;

        .info-text-light {
          font-weight: 400;
        }
      }
    }
  }

  div.menu {
    h6.menu-title {
    }

    ul.menu-container {
      li.menu-item {
        a.menu-link {
        }
      }
    }
  }
}
