.nav-banner {
  background-color: rgba(13, 122, 141, 1);
  width: 100%;
  height: 122px;
  padding-top: 40px;

  .banner-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    i {
      color: #ffffff;
      width: 40px;
      height: 40px;
      font-size: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .banner-btn {
      color: rgba(18, 131, 147, 1);
      background-color: #ffffff;
      width: 204px;
      height: 56px;
      border-radius: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
