.main-content {
  margin-bottom: 40px;

  .hero-section {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-image {
      object-fit: contain;
      width: 85%;
    }

    .logo-overlay {
      position: absolute;
      left: 135px;
      top: 47px;
      width: 235px;
      height: 115px;
      z-index: 5;
    }

    .gradient-overlay {
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      background: linear-gradient(
        to right,
        rgba(36, 122, 164, 0%) 41%,
        rgba(255, 255, 255, 1) 65%
      );
      top: 0;
      left: 20%;
    }

    .hero-card {
      background-color: #ffffff;
      width: 350px;
      height: 440px;
      z-index: 10;
      position: absolute;
      right: 34px;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.12);
      border-radius: 24px;
      padding: 1.5rem;

      .video-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: flex-start;
        width: 80%;
        align-items: center;
      }
    }
  }
}

@include media-breakpoint-md {
  .main-content {
    margin-bottom: 80%;

    .hero-section {
      position: relative;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .main-image {
        object-fit: contain;
        width: 100%;
      }

      .logo-overlay {
        position: absolute;
        left: 10px;
        top: 12px;
        width: 137px;
        height: 64px;
        z-index: 5;
      }

      .gradient-overlay {
        width: 121%;
        height: 100%;
        z-index: 1;
        position: absolute;
        background: linear-gradient(
          to right,
          rgba(36, 122, 164, 0%) 37%,
          rgba(255, 255, 255, 1) 71% 71%
        );
        top: 0;
        left: 20%;
      }

      .hero-card {
        background-color: #ffffff;
        width: 80%;
        height: 392px;
        z-index: 10;
        position: absolute;
        right: 10%;
        padding: 1rem;
        transform: translateY(12%);
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.12);
        border-radius: 24px;

        .video-icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-content: flex-start;
          width: 80%;
          align-items: center;
        }
      }
    }
  }
}
